@model Motorsazan.CMMS.Shared.Models.Output.NetExpert.OutputGetWorkOrderByWorkOrderId

<div class="filter-form">

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="app__form-item">
                <label class="app__form-label">
                    آیتم عملیاتی:
                </label>
                @{ Html.RenderAction("AddPreventiveItemsComboBox", "NetExpert"); }
                <div class="app__form-error app__hide" id="addPreventiveItemsComboBoxError">
                    آیتم عملیاتی وارد نشده است
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="app__form-item">
                <label class="app__form-label">
                    پرسنل:
                </label>
                @{ Html.RenderAction("AddPreventiveEmployeeComboBox", "NetExpert", new { maintenanceGroupId = Model.ReceiverMaintenanceGroupId }); }
                <div class="app__form-error app__hide" id="addPreventiveEmployeeComboBoxError">
                    پرسنل وارد نشده است
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="app__form-item  " id="filterFormPeriodStartDatePickerParent">
                <label class="app__form-label">
                    تاریخ شروع
                </label>
                <div>
                    <input type="text" class="app__form-datepicker"
                           id="addPreventiveModalStartDatePicker"
                           placeholder="از تاریخ"
                           data-mddatetimepicker="true"
                           data-englishnumber="true"
                           data-targetdateselector="#addPreventiveModalStartDatePicker" />
                </div>
                <div class="app__form-error app__hide" id="addPreventiveModalStartDatePickerError">
                    شروع بازه زمانی انتخاب نشده است
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="app__form-item ">
                <label class="app__form-label">
                    زمان شروع :
                </label>
                <div>
                    @Html.DevExpress().TextBox(settings =>
                    {
                        settings.Name = "addFormStartPeriodInMinuteSpinEdit";
                        settings.Properties.MaskSettings.Mask = "00:00";
                    }).GetHtml()
                </div>
                <div class="app__form-error app__hide" id="addFormStartPeriodInMinuteSpinEditError">
                    زمان اجرا وارد نشده است وارد نشده است
                </div>
                <div class="app__form-error app__hide" id="addFormStartPeriodInMinuteSpinEditRangeError">
                    زمان اجرا وارد نشده است نمی تواند کمتر از 1 باشد
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" >
            <div class="app__form-item ">
                <label class="app__form-label">
                    تاریخ اتمام:
                </label>
                <div>
                    <input type="text" class="app__form-datepicker"
                           id="addPreventiveModalEndDatePicker"
                           placeholder="تاریخ اتمام"
                           data-mddatetimepicker="true"
                           data-englishnumber="true"
                           data-targetdateselector="#addPreventiveModalEndDatePicker" />
                </div>
                <div class="app__form-error app__hide" id="addPreventiveModalEndDatePickerError">
                    تاریخ انتخاب نشده است
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="app__form-item ">
                <label class="app__form-label">
                    زمان پایان:
                </label>
                <div>
                    @Html.DevExpress().TextBox(settings =>
                    {
                        settings.Name = "addPreventiveDetailsModalRunEndTimeSpinEdit";
                        settings.Properties.MaskSettings.Mask = "00:00";
                    }).GetHtml()
                </div>
                <div class="app__form-error app__hide" id="addPreventiveDetailsModalRunEndTimeSpinEditError">
                    زمان اجرا وارد نشده است وارد نشده است
                </div>
                <div class="app__form-error app__hide" id="addFormEndPeriodInMinuteSpinEditRangeError">
                    زمان اجرا وارد نشده است نمی تواند کمتر از 1 باشد
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="app__form-item ">
                <label class="app__form-label">
                    زمان اجرا:
                </label>
                <div>
                    @Html.DevExpress().SpinEdit(settings =>
                    {
                        settings.Name = "durationInMinute";
                        settings.Properties.NullText = "مدت به انجام عملیات را وارد کنید";
                        settings.Properties.MaxValue = 10000000;
                        settings.Properties.MinValue = 1;
                        settings.Properties.ShowOutOfRangeWarning = false;
                    }).GetHtml()
                </div>
                <div class="app__form-error app__hide" id="durationInMinuteError">
                    زمان اجرا وارد نشده است وارد نشده است
                </div>
                <div class="app__form-error app__hide" id="durationInMinuteRangeError">
                    زمان اجرا وارد نشده است نمی تواند کمتر از 1 باشد
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="app__form-item">
                <label class="app__form-label">
                    توضیحات
                </label>
                @Html.DevExpress().Memo(settings =>
                {
                    settings.Name = "referToAnotherGroupPreventiveModalDescriptionMemo";
                    settings.Properties.NullText = "توضیحات را وارد نمایید";
                }).GetHtml()
                <div class="app__form-error app__hide" id="referToAnotherGroupPreventiveModalDescriptionMemoError">
                    توضیحات وارد نشده است
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-md-4 pull-left filter-form__action-wrapper">
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "AddPreventiveDetailsModalSaveBtn";
                settings.Text = "ثبت";
                settings.UseSubmitBehavior = false;
                settings.EnableClientSideAPI = true;
                settings.Styles.CssPostfix = "add-form__btn";
                settings.Width = Unit.Percentage(100);
                settings.ClientSideEvents.Click =
                    "motorsazanClient.netExpert.handleAddPreventiveDetailsModalSaveBtnClick";
            }).GetHtml()
        </div>
    </div>
</div>