@{
    var isActive = ViewBag.IsActive;
}

<div class="app--center">
    <div class="row">
        @Html.DevExpress().Button(settings =>
        {
            settings.Name = "MoveOperationItemToSubMachineBtn";
            settings.Text = "انتقال به دستگاه دیگر";
            settings.UseSubmitBehavior = false;
            settings.EnableClientSideAPI = true;
            settings.Width = Unit.Pixel(180);

            settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.SpreadsheetMovepivottableSvgWhite16x16;
            settings.ImagePosition = ImagePosition.Left;

            settings.Enabled = isActive;

            settings.ClientSideEvents.Click =
                "motorsazanClient.machineCheckList.handleMoveOperationItemToOtherMachineModalBtnClick";
        }).GetHtml()

        @Html.DevExpress().Button(settings =>
        {
            settings.Name = "copyOneOperationItemToOtherMachineBtn";
            settings.Text = "کپی به دستگاه دیگر";
            settings.UseSubmitBehavior = false;
            settings.EnableClientSideAPI = true;
            settings.Width = Unit.Pixel(180);

            settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.DiagramiconsCopySvgWhite16x16;
            settings.ImagePosition = ImagePosition.Left;

            settings.Enabled = isActive;

            settings.ClientSideEvents.Click =
                "motorsazanClient.machineCheckList.handleCopyOneOperationItemToOtherMachineModalBtnClick";
        }).GetHtml()

        @Html.DevExpress().Button(settings =>
        {
            settings.Name = "editOperationItemBtn";
            settings.Text = "ویرایش کد";
            settings.UseSubmitBehavior = false;
            settings.EnableClientSideAPI = true;
            settings.Width = Unit.Pixel(180);

            settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.XafActionEditSvgWhite16x16;
            settings.ImagePosition = ImagePosition.Left;

            settings.Enabled = isActive;

            settings.ClientSideEvents.Click =
                "motorsazanClient.machineCheckList.handleEditOperationItemBtnClick";
        }).GetHtml()


    </div>


    <div class="row" style="padding-top: 15px;">

        @Html.DevExpress().Button(settings =>
        {
            settings.Name = "addSparePartToOperationBTN";
            settings.Text = "تخصیص قطعات یدکی دستگاه به آیتم";
            settings.UseSubmitBehavior = false;
            settings.EnableClientSideAPI = true;
            settings.Width = Unit.Pixel(180);

            settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsAdd16x16;
            settings.ImagePosition = ImagePosition.Left;

            settings.Enabled = isActive;

            settings.ClientSideEvents.Click =
                "motorsazanClient.machineCheckList.handleAddSparePartToOperationBtnModalBtnClick";
        }).GetHtml()

        @Html.DevExpress().Button(settings =>
        {
            settings.Name = "deActiveOperationItemModalBtn";
            settings.Text = "غیرفعال کردن";
            settings.UseSubmitBehavior = false;
            settings.EnableClientSideAPI = true;
            settings.Width = Unit.Pixel(180);

            settings.Styles.Style.BackColor = System.Drawing.Color.Red;
            settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsCancel16x16;
            settings.ImagePosition = ImagePosition.Left;

            settings.Enabled = isActive;
            settings.ClientVisible = isActive;

            settings.ClientSideEvents.Click =
                "motorsazanClient.machineCheckList.handleDeActiveOperationItemBtnClick";
        }).GetHtml()

        @Html.DevExpress().Button(settings =>
        {
            settings.Name = "activeOperationItemBtn";
            settings.Text = "فعال کردن";
            settings.UseSubmitBehavior = false;
            settings.EnableClientSideAPI = true;
            settings.Width = Unit.Pixel(180);

            settings.Styles.Style.BackColor = System.Drawing.Color.Green;
            settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.IconbuilderActionsCheckcircledSvgWhite16x16;
            settings.ImagePosition = ImagePosition.Left;

            settings.Enabled = !isActive;
            settings.ClientVisible = !isActive;

            settings.ClientSideEvents.Click =
                "motorsazanClient.machineCheckList.handleActiveOperationItemBtnClick";
        }).GetHtml()

    </div>
</div>